body
{
	background-color:white;
	padding:0px;
	margin: 0px;
}

#home_table
{
	color:blue;
	font:bold 48px 'Arial', san-serif;
	border: 6px solid black;
	border-collapse:collapse;
	padding:10px 10px;
	width: 100%;
	height: 100%;
	
}

.home_cell
{
	color:blue;
	border: 6px solid black;
	width: 25%;
	height: 25%;
	text-align:center;
}

#photo_cell
{
	background-image:url('/assets/background.jpg');
	font:bold 64px 'Arial', san-serif;
	color:white;
	text-shadow: 2px 2px black;
	text-align:center;
	text-decoration:none;
}

#video_cell
{
	background-image:url('/assets/background2.png');
	font:bold 64px 'Arial', san-serif;
	color:white;
	text-shadow: 2px 2px black;
	text-align:center;
	text-decoration:none;
}

#logo_cell
{
	background-color:black;
	vertical-align:middle;
	text-align: center;
}

a
{
	text-decoration:none;
	color:white;
}

a:visited
{
	text-decoration:none;
	color:white;
}
