body
{
	background-color:white;
	padding:0px;
	margin: 0px;
}

table
{
	border-collapse:collapse;
	height: 100%;
}


/* regular info */

h1
{
	font:bold 18px 'Arial';
	color: rgb(30,85,147);
}

h2
{
	font:bold 18px 'Arial';
	color: rgb(30,85,147);
}

p
{
	font: 16px 'Georgia';
	color: rgb(0,0,0);
}

li
{
	font: 16px 'Georgia';
	color: rgb(0,0,0);
}

/* bigger info */
h1.bigger
{
	font:bold 24px 'Arial';
	color: rgb(30,85,147);
}

h2.bigger
{
	font:bold 20px 'Arial';
	color: rgb(30,85,147);
}

p.bigger
{
	font: 20px 'Georgia';
	color: rgb(0,0,0);
}

li.bigger
{
	font: 20px 'Georgia';
	color: rgb(0,0,0);
}
	
.sidebar
{

	width: 150px;
	padding:0px 0px;
	border: 1px black solid;
	margin-left: auto;
    	margin-right: auto;
    	height: 90px;
}

.thumbnail
{
	margin-left: 25px;
    margin-right: 25px;
}

.hilite
{
	color:blue;
	width: 10px;
	padding:0px 0px;
	border: 1px black solid;
	opacity: 1;
}

#hilite_FIRST
{
	background: rgb(0,0,0);
}

#hilite_FRC
{
	background: rgb(14,45,96);
}

#hilite_FTC
{
	background: rgb(216,165,50);
}

#hilite_FLL
{
	background: rgb(177,34,34);
}

#hilite_JrFLL
{
	background: rgb(60,140,140);
}

#hilite_back
{
	background: rgb(0,0,0);
	text-align: center;
}

.info
{
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	
	vertical-align: top;
	
	position:absolute;
	top:0px;
	left:125px;
	visibility:hidden;
	width: 900px;
}
