body
{
	background-color:black;
	padding:0px;
	margin: 0px;
}

.score
{
	height:64px;
	width:300px;
	padding:5px 10px;
	border: 5px solid white;
}

.score2
{
	height:64px;
	width:64px;
	text-align: center;
	padding:5px 10px;
	border: 5px solid white;
	color:black;
	background:white;
}

.score_table
{
	color:white;
	font:bold 48px 'Arial', san-serif;
	border: 5px solid white;
	border-collapse:collapse;
	padding:25px 50px;

}

#reset_scores
{
	text-align: center;
	height:64px;
	width:384px;
	padding:5px 10px;
	visibility: visible;
}

#play_again
{
	text-align: center;
	height:64px;
	width:384px;
	padding:5px 10px;
	visibility: hidden;
}

#done
{
	text-align: center;
	height:64px;
	width:384px;
	padding:5px 10px;
}

.panel
{
	vertical-align: center;

}

.reset_td
{
	vertical-align:bottom;
	padding: 50px 50px;
}

.donelink
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color:white;
}
