/*This is a comment*/

body
{
background-color: black;
color: white;
font-family: consolas;
font-size: 48px;
}

#question
{
	font-size: 48px;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 50px;
	padding-bottom: 25px;
	
}

p
{
	text-align: center;
}
	
.choice
{
	font-size: 32px;
	padding-top: 0px;
	padding-left: 150px;
	padding-right: 100px;
	padding-bottom: 20px;
	text-align: middle;
}

.result
{
	position:fixed;
	left:100px;
	top:600px;
	font-size: 48px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	margin: auto;
	width: 300px;
	visibility: hidden;
	text-align:center
}

#correct
{
	color: green;
	border: 1px solid green;
}

#incorrect
{
	color: red;
	border: 1px solid red;
}

#next
{
	position:fixed;
	left:650px;
	top:600px;
	width: 150px;
	font-size: 48px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	color: white;
	border: 1px solid white;
	
	text-align:center;
	visibility: hidden;
}

.option
{
	vertical-align:middle;
	padding-right: 10px;
}


a:link
{
	text-decoration: none;
	color:white;
}

a:visited
{
	text-decoration: none;
	color:white;
}