body
{
	background-color:black;
	padding:0px;
	margin: 0px;
	text-align:center;
}

#main_vid
{
	left-margin:auto;
	right-margin: auto;
	padding: 0px;
}

#done_button
{
	color:white;
	font:bold 48px 'Arial', san-serif;
	border: 5px solid white;
	text-align: center;
	height:64px;
	width:384px;
	padding:5px 10px;
	
}

#info_button
{
	color:white;
	font:bold 48px 'Arial', san-serif;
	border: 5px solid white;
	text-align: center;
	height:64px;
	width:384px;
	padding:5px 10px;
	
}